.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3a2509; /* Light brown color */
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  position: relative; /* Positioning context for the pseudo-element */
  min-height: 80vh;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 5, 5);
  z-index: 1; /* Ensure content is above the background */
}

.App-body::before {
  content: "";
  background-image: url('https://img.freepik.com/free-photo/ancient-books-adorn-library-carefully-arranged-with-classics-rare-gems_157027-2332.jpg'); /* Add your image URL here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust opacity to make the image less visible */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: -1; /* Place behind the content */
}

.App-link {
  color: #5a3407;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
